{% extends 'base.html.twig' %}

{% block title %}Rechercher un film{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Rechercher un film
    </h1>

    <table id="result">
        <table class="maxwidth">
            <th>
                <tr class="titles"><td>Titre</td>
                    <td>Description</td>
                    <td>Catégorie</td>
                    <td>Modifier</td>
                </tr>
            </th>
            <tbody>


    </table>


</div>
{% endblock %}

