<html>
<body>
<h1 style="font-family: Arial, Helvetica, sans-serif; color:#283554;">Test P Husson</h1>
<h2 style="font-family: Arial, Helvetica, sans-serif; color:#283554;">votre site a été modifié</h2>
<hr />
<div style="font-family: Arial, Helvetica, sans-serif; max-width:500px;">
    {%  block content %}Contenu du mail à surcharger{% endblock %}
</div>
</body>
</html>
